<h1><%= @patient.name %></h1>
<form>
<h5>Birthdate: </h5> 
    <h6><input type="text" value="<%= @patient.birthdate.strftime("%Y-%m-%d") %>"></h6>
<h5>Age: </h5>
    <h6><%= @patient.age%></h6>
<h5>Weight: </h5>
    <h6><%= @patient.weight%></h6>
<h5>Allergies: </h5>
    <h6><%= @patient.allergies%></h6>
</form>
<br>